*{
    width:100%;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
input{
    width: 20%;
    min-width: 400px;
    height: 35px;
    margin-bottom: 15px;
    border-radius: 25px;
    border-color: #b17be4;
    padding-left: 15px;
}
form .sd-btn{
    color: red;
}
#menu-sup{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: black;
    word-spacing: 50px;
}
a{
    margin-left: 25px;
    margin-right: 25px;
    color: white;
    font-weight: 600;
}
p{
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 15px;
}
#link-footer{
    color: darkslateblue;
}
#social-icons{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    display: flex;
    font-size: 35px;
    color:darkslateblue;
    margin-bottom: 30px;
}
h2, a {
    font-size: 15px;
    margin-left: 4px;
    margin-top: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}
img {
    max-width: 290px;
    text-align: left;
}
.cta-form{
    display: flex;
    text-align: center;
    justify-content: center;
}
#formulario{
    background: linear-gradient(to right, white, darkslateblue);
    padding-top: 20px;
    padding-bottom: 20px; 
    width: 40%;
    min-width: 600px;  
    border-radius: 0px 80px 80px 0px;
}
#formulario p{
    font-weight: 600;
    color: rgb(27, 27, 27);
}
.cta{
    width: 300px;
    justify-content:center;
    padding-top: 55px;
    padding-left: 50px;
}
.cta-sup{
    padding-top: 50px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}
